MACOSX_DEPLOYMENT_TARGET = 10.15

LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @executable_path/../../../../Frameworks

GENERATE_INFOPLIST_FILE = YES
INFOPLIST_FILE = SkimQuickLookThumbnails/Info.plist

PRODUCT_BUNDLE_IDENTIFIER = net.sourceforge.skim-app.skim.quicklook-thumbnails
PRODUCT_NAME = $(TARGET_NAME)

CODE_SIGN_ENTITLEMENTS = SkimQuickLookThumbnails/SkimQuickLookThumbnails.entitlements
ENABLE_HARDENED_RUNTIME = YES

CLANG_ENABLE_MODULES = YES
