<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>QLSupportedContentTypes</key>
			<array>
				<string>net.sourceforge.skim-app.pdfd</string>
				<string>net.sourceforge.skim-app.skimnotes</string>
				<string>com.adobe.postscript</string>
			</array>
			<key>QLThumbnailMinimumDimension</key>
			<integer>0</integer>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.quicklook.thumbnail</string>
		<key>NSExtensionPrincipalClass</key>
		<string>SKThumbnailProvider</string>
	</dict>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.package</string>
				<string>public.composite-content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PDF Bundle</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.skim-app.pdfd</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>PDFD</string>
				<key>public.filename-extension</key>
				<array>
					<string>pdfd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Skim Notes</string>
			<key>UTTypeIdentifier</key>
			<string>net.sourceforge.skim-app.skimnotes</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>com.apple.ostype</key>
				<string>SKNT</string>
				<key>public.filename-extension</key>
				<array>
					<string>skim</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PostScript</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.postscript</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ps</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/postscript</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
